<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <style src="study.css"></style> -->
    <script src="study.js" defer></script>
    <!-- defer delays the HTML to run after fully loaded -->

    <title>Ranking Study</title>
  </head>

  <body>
  


    <div class="container">
      <h1 style="margin-top: 20px;">Ranking Study</h1>
      <h5 style="margin-top: 15px;">You could give additional information here to the participants</h5>
      
      <!-- <p><span id="score">Score:</span></p> -->
    </div>

    <br>

    <!-- Task Table -->
    <div class="container">
      <table id="table" class="table table-hover align-middle">
        <!-- Table Headers -->
        <thead>
          <tr>
            <th> Task</th>
            <th> Deadline</th>
            <th> Points</th>
            <th> Disables</th>
            <th> Order</th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
          <!-- empty because javascript file will fill in everything -->
        </tbody>
      </table>

    </div>
  </form>

    <script>

      function redirect() {
        window.location.href = '/demographic'; 
      }

    
    </script>
   

    <!-- Submit Button -->
    <div class="container d-flex justify-content-end">
      <button id="task-submit-btn" type="button" class="btn btn-primary" onclick="redirect()">Submit</button>
    </div>

    



   

  </body>
</html>
